@font-face {
    font-family: mono-regular;
    src: url(../../fonts/monospace/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: mono-bold;
    src: url(../../fonts/monospace/SourceCodePro-Regular.ttf);
}